*{
	padding:0px;
	margin:0px; 
}
body{
	width: 100vw;
	height:100vh;
	background-image:linear-gradient(to right bottom,red,blue);
	display: flex;
	align-items: center;
	justify-content: center;
}
.main{
	width:70%;
    padding: 5px 15px;
    padding-bottom: 14px;
	background-color:cyan;
}
h1{margin-bottom:5px;
	text-align: center;
}
input{
    padding:5px;
    height:40px;
    font-size:20px;
	width:80%;

}
button{
	width:calc(20% - 14px);
	padding:5px;
	margin-left:5px; 
	font-weight:bold;
	cursor: pointer;
	border-radius:5px;
	margin-top: 5px;
	background-color:yellow;
	transition: all 1s;
}
button:hover{
	background-color:orange;
	color: blue;
}
